.failure-view-container {
  width: 296px;
  height: 213px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
}

@media screen and (min-width: 768px) {
  .failure-view-container {
    width: 1109px;
    height: 466px;
    border-radius: 8px;
  }
}

.alert-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .alert-icon {
    width: 48px;
    height: 48px;
  }
}

.failure-description {
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 10px;
}

@media screen and (min-width: 767px) {
  .failure-description {
    font-size: 14px;
    line-height: 18px;
  }
}

.retry-button {
  width: 77px;
  height: 28px;
  border-radius: 4px;
  padding: 2px 12px 2px 12px;
  gap: 8px;
  background-color: #ffffff;
  color: #171f46;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}

@media screen and (min-width: 767px) {
  .retry-button {
    width: 94px;
    height: 32px;
    border-radius: 3px;
  }
}
